gssClients/gssCSharpClients/GssInteropClass/Service References/CM.Gss/FileUtilities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://gss.sintef.no/" targetNamespace="http://gss.sintef.no/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IOException" type="tns:IOException" />
  <xs:element name="containsFile" type="tns:containsFile" />
  <xs:element name="containsFileResponse" type="tns:containsFileResponse" />
  <xs:element name="createFolder" type="tns:createFolder" />
  <xs:element name="createFolderResponse" type="tns:createFolderResponse" />
  <xs:element name="deleteFolder" type="tns:deleteFolder" />
  <xs:element name="deleteFolderResponse" type="tns:deleteFolderResponse" />
  <xs:element name="getDirectInteractionEndpoint" type="tns:getDirectInteractionEndpoint" />
  <xs:element name="getDirectInteractionEndpointResponse" type="tns:getDirectInteractionEndpointResponse" />
  <xs:element name="getResourceInformation" type="tns:getResourceInformation" />
  <xs:element name="getResourceInformationResponse" type="tns:getResourceInformationResponse" />
  <xs:element name="listFiles" type="tns:listFiles" />
  <xs:element name="listFilesMinimal" type="tns:listFilesMinimal" />
  <xs:element name="listFilesMinimalResponse" type="tns:listFilesMinimalResponse" />
  <xs:element name="listFilesResponse" type="tns:listFilesResponse" />
  <xs:complexType name="createFolder">
    <xs:sequence>
      <xs:element minOccurs="0" form="qualified" name="folderID" type="xs:string" />
      <xs:element minOccurs="0" form="qualified" name="session_id" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createFolderResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:resourceInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resourceInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="createDescription" type="tns:requestDescription" />
      <xs:element minOccurs="0" name="deleteDescription" type="tns:requestDescription" />
      <xs:element minOccurs="0" name="metaReadDescription" type="tns:requestDescription" />
      <xs:element name="queryForName" type="xs:boolean" />
      <xs:element minOccurs="0" name="readDescription" type="tns:requestDescription" />
      <xs:element minOccurs="0" name="type" type="xs:string" />
      <xs:element minOccurs="0" name="uniqueName" type="xs:string" />
      <xs:element minOccurs="0" name="updateDescription" type="tns:requestDescription" />
      <xs:element minOccurs="0" name="visualName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="requestDescription">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="headers" nillable="true" type="tns:httpHeaderField" />
      <xs:element minOccurs="0" name="httpMethod" type="xs:string" />
      <xs:element minOccurs="0" name="sessionTokenField" type="xs:string" />
      <xs:element name="supported" type="xs:boolean" />
      <xs:element minOccurs="0" name="url" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="httpHeaderField">
    <xs:sequence>
      <xs:element minOccurs="0" name="key" type="xs:string" />
      <xs:element minOccurs="0" name="value" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IOException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listFilesMinimal">
    <xs:sequence>
      <xs:element minOccurs="0" form="qualified" name="fileID" type="xs:string" />
      <xs:element minOccurs="0" form="qualified" name="session_id" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listFilesMinimalResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:resourceInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listFiles">
    <xs:sequence>
      <xs:element minOccurs="0" form="qualified" name="fileID" type="xs:string" />
      <xs:element minOccurs="0" form="qualified" name="session_id" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listFilesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:resourceInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getResourceInformation">
    <xs:sequence>
      <xs:element minOccurs="0" form="qualified" name="fileID" type="xs:string" />
      <xs:element minOccurs="0" form="qualified" name="session_id" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getResourceInformationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:resourceInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteFolder">
    <xs:sequence>
      <xs:element minOccurs="0" form="qualified" name="folderID" type="xs:string" />
      <xs:element minOccurs="0" form="qualified" name="session_id" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteFolderResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDirectInteractionEndpoint">
    <xs:sequence>
      <xs:element minOccurs="0" form="qualified" name="gssID" type="xs:string" />
      <xs:element minOccurs="0" form="qualified" name="session_id" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDirectInteractionEndpointResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:endpointInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="endpointInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="type" type="xs:string" />
      <xs:element minOccurs="0" name="url" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="containsFile">
    <xs:sequence>
      <xs:element minOccurs="0" form="qualified" name="fileID" type="xs:string" />
      <xs:element minOccurs="0" form="qualified" name="session_id" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="containsFileResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>